@import url(./index.css);
body{
    background-image: var(--bg);
    height: 100vh;
}
header h1{
    text-align: center;
    font-size: var(--step-4);
}
.main-body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
}
*{
    color: #ffffff;
    font-size: var(--step--2);
}
.mani{
    width: 100%;
    text-align: center;
}
table{
    width: 100%;
    padding: 0.2rem;
    margin-top: 2rem;
    background-color: #c7c7c79a;
    border-radius: 0.5rem;
    flex-grow: 1;
}
th{
    border: 1px solid #000000;
}
input{
    width: 70%;
    background-color: #ffffff80;
    padding: 0.2rem 0.3rem;
    border-radius: 0.5rem;
    color: #000000;
}
input:focus{
    border-bottom: 2px solid #ffffff;
    outline: none;
}
.mani label{
    display: inline-block;
} label, input{
    margin-block: 0.5rem;
}
button{
    background-color: #000000;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}
button:hover{
    cursor: pointer;
}
@media (min-width: 1024px){
    .main-body{
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 6rem;
    }
    header{
        width: 100%;
        align-self: center;
    }
    .mani{
        width: 40%;
        height: 100%;
        align-self: center;
    }
    table{
        width: 60%;
        padding: 0.5rem;
        margin-top: 0;
    }
  }